{% extends 'flight/layout.html' %}

{% load static %}

{% block head %}
    <title>Terms and Conditions | Flight</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/privacy-policy.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
{% endblock head %}

{% block body %}
    <section class="privacybanner-section">
        <img src="{% static 'img/about-us.png' %}" alt="Privacy Policy" class="privacybannerimg">
    </section>
    <section class="section section1">
        <div class="container">
            <h1>Use our app to fly to your favorit destination in the world!</h1>
            <p>“Live with no excuses and travel with no regrets” ~ Oscar Wilde.</p>
            <p>“Life is short and the world is wide”</p>
        </div>
    </section>
{% endblock%}
