{% extends 'flight/layout.html' %}

{% load static %}

{% block head %}
    <title>Privacy Policy | Flight</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/privacy-policy.css' %}">
{% endblock head %}

{% block body %}
    <section class="privacybanner-section">
            <img src="{% static 'img/privacy-policy.png' %}" alt="Privacy Policy" class="privacybannerimg">
    </section>
    <section class="section section1">
        <div class="container">
            <p>
                We understand user privacy.
            </p>
            <p>
                The applicability of this Privacy Policy extends to the User who inquires, or means to purchase or purchase the product(s) or service(s) offered by this website. If you disagree with this Privacy Policy please do not use or access our website.
            </p>
        </div>
    </section>
{% endblock%}
