{% extends 'flight/layout.html' %}

{% load static %}

{% block head %}
    <title>Terms and Conditions | Flight</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/privacy-policy.css' %}">
{% endblock head %}

{% block body %}
    <section class="privacybanner-section">
            <img src="{% static 'img/terms-and-conditions.png' %}" alt="Privacy Policy" class="privacybannerimg">
    </section>
    <section class="section section1">
        <div class="container">
            <p>
                Flight may change, alter or remove any part of these below written Terms and Conditions without any prior notice.
            </p>
            <p>
                <b>Use of the Website</b><br>
                <b>In case of your use of this website, you agree that:</b>
                <ul>
                    <li>You will use this site as per its Terms of Use.</li>
                    <li>You will use the website only to make lawful bookings for you or other person for whom you are officially approved to do these kinds of bookings. You will also inform other persons about the Terms and Condition of the website</li>
                    <li>Flight reserves the right to deny access to its Website to anyone, at any time without any notice and for any reason, including, but not restricted to, for the violation of its Terms of Use.</li>
                </ul>

        </div>
    </section>
{% endblock%}
